.x_m_mob{left:2%;}
.y_m_mob{bottom:98%;}
.h_m_mob{height:5%;}
.w_m_mob{width:5%;}
.x_f_mob{left:50%;}
.w_f_mob{width:2%;}
.h_f_mob{height:2%;}
.x_g_mob{left:50%;}
.w_g_mob{width:2%;}
.h_g_mob{height:2%;}